@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');
/*----------------Variables */
:root{
--green-color:#7acc2d;
--white-color:white;
--black-color:#313337;
/* Tipografía */
--normal:12px;
/* Espaciado */
--space:10px;
/* Box shadow */
--box:0px 0 2px 1px #e6e5e9;

}

/*----------------Variables */


html, body {
    padding: 0;
    margin: 0;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex; 
    background-color: var(--green-color);
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;

}

nav ul {
    display: flex;

}
nav li {
    padding-right: 20px;
    list-style: none;
    
}
nav li a {
    color: var(--black-color);
    text-decoration: none;

}
nav li a:hover{
color: var(--white-color);
}

hr{
    opacity: .2;
  }

/* ----------- main section----------------------- */

.main_section {
    padding: 15%;
    text-align: center;
}

/* ---------------------------- Products ---*/
.products {
    background-image: url("../imagenes/curve.png");
    max-height: 100px;
    background-size: cover;
    background-position: center top;
    padding: 15%;
    display: flex;
    background-repeat: no-repeat;

}

.product {
    padding: 10px;
    margin-top: -226px;
}

.product .content {
    background-color: var(--white-color);
    padding: 20px;
    box-shadow: 0px 0 2px  #c1bcbc;
}
.image_content {
    text-align: center;
} 
.main_button{
    background-color: var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: 17px;
    color:var(--white-color);
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
}
.main_button:hover{
    background-color: #5e9e22;
}
p {
    text-align: center;
    font-size: var(--normal);
}

label{
    font-size: var(--normal);
    padding: 5px;
    display: block;
}
  
h1 {
    text-align: center;
  }

/* ------------------  beneficios */
.beneficios {
    padding: 10%;
    display: flex;
}
.beneficio {
    text-align: center;
    padding: 20px;    
}

.beneficio img {
    max-height: 100px;
}
.text-beneficio {
    text-align: justify;
}  


/* -------------------Menciones */

.mentions {
   display: flex;
   padding: 5%;
}

.mention img {
    width: 100%;
}

.mention_title {
    text-align: center;
}

.mention{
    padding: var(--space);
}
.content_mention{
    box-shadow: 0px 0 2px 1px #e6e5e9;
}
/* ----------------------venta */

.modulo_pago {
    background-color: var(--white-color);
    box-shadow: var(--box);
    padding: var(--space);
}
.data{
    margin-top: 5px;
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid var(--black-color);
    box-sizing: border-box;
}
.modulo_pago .main_button{
    margin-top: 10px;
}
.modulo_pago_img {
    max-width: 100px;
    text-align: center;
    width: 100%;
    margin: auto;    
}

/* ---------------------footer */
footer{
    display: flex;
    justify-content: space-between;
    font-size: var(--normal);
    background-color: var(--black-color);
    padding: var(--space);
    color: var(--white-color);
  }
  .contact a{
      color: lawngreen;
  }
  
